@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-metal-100 text-gray-800 font-body;

  background-image: radial-gradient(#7B7B7A 1px, transparent 1px);
  background-size: 20px 20px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-metal-200;
}
::-webkit-scrollbar-thumb {
  @apply bg-metal-500 rounded-full hover:bg-accent-orange;
}

.container-custom {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
